/* @import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Ubuntu:100,200,300,400,500,600,700'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&family=Roboto:wght@100;300;400;500&family=Ubuntu:wght@300&display=swap');

/* -----------------------------------------------------------Colours */
.bg-color-name-title {
    /* background-color: #5c4040; */
    background-color: #B85042;
}

.bg-color-section-contact {
    background-color: #f0e3e1;
    /* background-color: #3A6B35; */
}

.bg-color-key-skills {
    background-color: #8A307F;
    /* background-color: #f0e3e1; */
}

.li-menu-color-home {

    /* background-color: #8a5ef2; */
    background-color: #3A6B35;
}

.li-menu-color-resume {
    background-color: #8A307F;
}

.li-menu-color-myproject {
    background-color: rgb(9, 105, 189);
}

.li-menu-color-contact {
    background-color: #2BAE66FF;
}

/* --------------------------------------------Special paddings/margins/text */
h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.general-subheading {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #fff;
}

/* -----------------------------------------------------------------Headings */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("/images/jyoti.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-style: cover;
    /* left: 0; */
    /* width: 350px; */
    height: 280px;
    background-color: #f0e3e1;

    /* min-height: 350px; */
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 45px;
    margin-top: 30px;
    color: #fff;
}

.title {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 28px;
    margin-top: 21px;
    color: #fff;
    margin-bottom: 40px;
    letter-spacing: 1.2px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

/* ------------------------------------------------------------------Nav bar */

/* To close up gap between list items. Because
display items inline makes the white space of our
HTMLfile visible as a single space between our items  */
.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 18px;
    padding: 0;
    letter-spacing: 1.5px;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    text-decoration: none;
    color: #fff;
    height: 100px;
    width: 100%;
    /* font-size: 20px; */
}

.menuitem a i {
    padding-top: 20px;
    display: block;
    font-size: 18px;
}

.menuitem span {
    padding-top: 10px;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
}

/* -----------------------------------------------------------About section */
.section-heading {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: normal;
}

.welcome-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #B85042;
}

.about-me-text {
    font-size: 18px;
}

.about-me {
    padding: 30px;
}

/* ----------------------------------------------------------contact section */
.contact-heading {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 24px;
    /* color: #fff; */
    /* text-decoration: underline; */
    border-bottom: 1px solid rebeccapurple;
}

.my-contact {
    padding: 20px;
    padding-top: 40px;
    height: 410px;
    /* height: 50vh; */

}

.my-contact span {
    font-size: 18px;
    /* color: #fff; */
}

.my-contact a i,
.my-contact i {
    padding: 10px;
    margin: 3px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fafafa;
    background: #423e3e;

}

.my-contact a i:hover {
    background: #B85042;
}

/* ------------------------------------------------------------Hover.css */
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
}

/* ------------------------------------------------------Key Skills section */
.bg-color-key-skills {
    padding: 20px;

}

.key-skills h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #fff;
    border-bottom: 1px solid white;
    letter-spacing: 1.5px;
}

.skills-heading {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.skills-list-item li {
    font-size: 15px;
    color: #fff;

}

/* -------------------------------------------------Education/ Work section */
.education-section {
    padding: 30px;
}

.education-section h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #B85042;
}

.education-section i {
    color: #423e3e;
    padding-right: 10px;
}

.table-responsive {
    overflow-x: hidden;
}

.cell-item p {
    font-size: 15px;
}

.cell-item h5 {
    font-size: 18px;
}

.languages {
    padding: 25px;
    border: 1px solid rgb(221, 215, 215);
}

.language h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #B85042;

}

.language-skills {
    font-family: 'Railway', sans-serif;
    font-size: 18px;
    font-weight: 300px;
}

.progress-bar {
    background-color: #bb5c4f;
}

/* ----------------------------------------------------------------Footer */
footer {
    background-color: #B85042;
    color: #fafafa;
    margin: 0;
    max-height: 120px;
    /* bottom: 0;
    left: 0; */
    /* position: fixed; */
}

#footer-content {
    padding: 15px;
}

.cv-pdf i {
    font-size: 18px;
    color: #fff;
    padding-left: 5px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: rgb(31, 28, 28);
    /* font-size: 25px; */
}

.social-links li a i {
    padding: 10px;
    margin: 2px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fafafa;
    background: #e28585;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background: rgb(31, 28, 28);
}